body {
    background: rgb(182, 0, 0);
    background: linear-gradient(196deg, rgba(182, 0, 0, 1) 7%, rgba(13, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_zone {
    min-height: 80vh;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 30px black;
    display: flex;
    position: relative;
}

.player_1 {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.658);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.score {
    font-size: 70px;
}

.point {
    height: 70px;
    width: 150px;
    background-color: rgb(155, 0, 0);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;


}

.player_2 {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.486);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.absolute{ 
    position: absolute;
}